<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Test App</title>

    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <div id="root"></div>
    <h1>How is the World feeling today?</h1>
    <div class="container">
    <% data.forEach(function(data){ %>
    <div class="card">
      <h1><%= data.name %></h1>
      <% data.top_articles_on_network.forEach(function(element){ %>
          <a href=<%= Object.keys(element) %>><%= Object.values(element) %></a>
          <br>
      <% }) %>
    </div>
    <% }) %>
    </div>
  </body>
</html>
    <!-- <script src="script.js" type="text/javascript"></script> -->

  </body>
</html>
